body{ backround-image:url('blob:https://web.whatsapp.com/6fa9bc5d-d7fe-4916-a8e2-a177dc08a6e4');
   backround-repeat:no-repeat;
    }

p{ color: rgb(75, 244, 250);
    text-align: center;
font-size: xx-large
}
h1{
    color: white;
text-align: left;
font-size:x-large;
}
h2{color: white;
    text-align: left;
    font-size:x-large;
   
}
h3{color: white;
    text-align: left;
    font-size:x-large
}
h4{ color: white;
font-size: xx-large;
text-align: left;
}

h5{color: black;
    font-size:normal;
   text-align: left;
  }
h6{
   font-size:xx-large;
   text-align:middle;
   backround-color:white;
   color:black
}
form{
    backround-color: white;
}

   
title{
    font-size: xx-large;
    text-align: center;

}
