body{
   background-image: (blob:https://web.whatsapp.com/997ce3bd-4600-40ed-b203-4d3e8d08da49);
background-position: center;
}

p{ color: rgb(75, 244, 250);
    text-align: center;
font-size: xx-large
}
h1{
    color: white;
text-align: left;
font-size:x-large;
}
}
h2{color: white;
    text-align: left;
    font-size:x-large;
   
}
h3{color: white;
    text-align: left;
    font-size:x-large
}
h4{ color: white;
font-size: xx-large;
text-align: left;
}

h5{color: white;
    font-size:xx-large;
   text-align: left;
  }
h6{
   font-size:xx-large;
   text-align:middle;
   backround-color:
}

   
title{
    font-size: xx-large;
    text-align: center;

}
