body{ backround-image: url("https://as2.ftcdn.net/jpg/01/47/58/83/1000_F_147588348_M6xuacHOZ95cHFgMUM3F3AFF69wlqtq3.jpg");
   backround-repeat:repeat;
     backround-size:
    }

p{ color: rgb(75, 244, 250);
    text-align: center;
font-size: large;
}
h1{
    color: white;
text-align: left;
font-size:x-large;
}
h2{color: white;
    text-align: left;
    font-size:x-large;
   
}
h3{color: white;
    text-align: left;
    font-size:x-large
}
h4{ color: white;
font-size: xx-large;
text-align: left;
}

h5{color: rgb(75, 244, 250);
    font-size:normal;
   text-align: left;
   
  }
h6{
   font-size:xx-large;
   text-align:middle;
   backround-color:black;
   color:rgb(75, 244, 250)
}

   
title{
    font-size: xx-large;
    text-align: center;

}
